<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Guoz.mapper.ManagerMapper">

	<select id="listManagerByName" resultType="Guoz.pojo.dto.ManagerDto">
		SELECT t1.*,t2.name roleName,t2.code roleCode FROM t_sys_manager t1 JOIN t_sys_role t2
		ON t2.id = t1.role_id
		WHERE 1 = 1
		<if test="name != null and name != ''">
			AND t1.name = #{name}
		</if>
		<if test="account != null and account != ''">
			AND t1.account = #{account}
		</if>
	</select>

	<select id="getById" resultType="Guoz.pojo.dto.ManagerDto">
		SELECT t.name FROM t_sys_manager t
		WHERE t.id = #{id}
	</select>

	<update id="updateBch" parameterType="java.util.List">
        UPDATE t_sys_manager
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="name=case" suffix="end,">
              <foreach collection="list" item="item" index="index">
                WHEN id = #{item.id} THEN  #{item.name}
              </foreach>
            </trim>
        </trim>
        <where>
           id in 
            <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                #{item.id}
            </foreach>
        </where>
	</update>



</mapper>